<div>
  <h1>Stup ponosa</h1>
</div>

<div class="grid grid-nogutter" *ngIf="highestCredit$ | async as credits; else creditsLoading">
  <app-user-credit-card class="col" *ngFor="let credit of credits" [credit]="credit" (showInfoClicked)="showInfo($event)"></app-user-credit-card>
 
</div>



<ng-template #creditsLoading>
	<div class="grid grid-nogutter">
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	</div>
</ng-template>

<p-dialog
  [(visible)]="infoDialog"
  [baseZIndex]="10000"
  [modal]="true"
  header="Informacije o dejstveniku"
>
  <div *ngIf="infoDialog">
    <app-user-info
      [readOnly]="true"
      [userId]="selectedUserId"
    ></app-user-info>
  </div>
</p-dialog>
