<div>
  <h1>Stup srama</h1>
</div>

<!-- Grid -->
<div class="grid grid-nogutter" *ngIf="highestDebt$ | async as highestDebt; else creditsLoading">
  <app-user-credit-card class="col" *ngFor="let debt of highestDebt" [credit]="debt" (showInfoClicked)="showInfo($event)"></app-user-credit-card>
 
</div>

<ng-template #creditsLoading>
	<div class="grid grid-nogutter">
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	<app-user-credit-card class="col"></app-user-credit-card>
	</div>
</ng-template>

<p-dialog
  [(visible)]="infoDialog"
  [baseZIndex]="10000"
  [modal]="true"
  header="Informacije o dejstveniku"
>
  <div *ngIf="infoDialog">
    <app-user-info
      [readOnly]="true"
      [userId]="selectedUserId"
    ></app-user-info>
  </div>
</p-dialog>
