<div class="progress-spinner" *ngIf="spinnerOn">
  <p-progressSpinner></p-progressSpinner>
</div>
<h1>Najveći dužnici</h1>
<!-- Grid -->
<div class="grid">
  <div *ngFor="let debt of highestDebt">
    <div class="col flex align-items-center justify-content-center m-3">
      <p-card header="{{debt.user}}" [style]="{width: '230px'} "
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="Card" src="{{debt.picture}}">
        </ng-template>
        <div>
          {{debt.amount}}
        </div>
      </p-card>
    </div>
  </div>
</div>
