<div>
  <h1>Trenutni dejstvenici</h1>

  <!-- Open form button -->
  <div class="grid grid-nogutter">
      <p-button
        (click)="openDialog()"
        *ngIf="admin"
        [loading]="(users$ | async) === null"
        icon="pi pi-external-link"
        styleClass="col"
        label="Evidentiraj dolazak"
      ></p-button>
      <p-button
        (click)="confirmEndAllStays()"
        *ngIf="admin"
        label="Završi dejstvo"
        styleClass="p-button-danger col"
      ></p-button>
      <p-button
        (click)="loadCurrentStays()"
        [loading]="(allStays$ | async) === null"
        icon="pi pi-sync"
        label="{{'Broj dejstvenika: ' + numberOfStays}}"
        styleClass="p-button-secondary col"
      ></p-button>
  </div>
</div>

<!-- Dialog -->
<p-dialog [(visible)]="displayDialog" header="Dodaj dejstvo" [modal]="true">
  <h5>Korisnik</h5>
  <p-multiSelect
    [(ngModel)]="selectedUserAdvanced"
    [filter]="true"
    [itemSize]="34"
    [options]="(users$ | async) || []"
    [showToggleAll]="false"
    [virtualScroll]="true"
    class="multiselect-custom-virtual-scroll"
    optionLabel="username"
  >
    <ng-template let-user pTemplate="item">
      <div class="country-item">
        <div>{{ user.username }}</div>
      </div>
    </ng-template>
  </p-multiSelect>
  <h5>Datum</h5>
  <p-calendar
    [(ngModel)]="date"
    [showTime]="true"
    [readonlyInput]="true"
    [touchUI]="true"
    [dateFormat]="'dd.mm.yy'"
    [appendTo]="'body'"
  ></p-calendar>

  <ng-template pTemplate="footer">
    <p-button (click)="saveStay()" icon="pi pi-plus" label="Kreiraj"></p-button>
  </ng-template>
</p-dialog>

<!-- Grid -->
<div class="grid grid-nogutter" *ngIf="allStays$ | async as stays">
  <div *ngFor="let stay of stays" class="col">
    <p-card
      header="{{ stay.user }}"
      styleClass="p-card-shadow"
      subheader="{{ stay.startTime }}"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="{{ stay.picture }}"/>
      </ng-template>
      <div>
        {{ stay.balance }}
      </div>
      <ng-template pTemplate="footer">
        <p-button
          (click)="confirmEndStay(stay.userId)"
          *ngIf="admin"
          label="Odjavi"
          styleClass="p-button-secondary"
        >
        </p-button>
        <p-button
          (click)="showInfo(stay.userId)"
          *ngIf="admin"
          label="Info"
          styleClass="p-button-primary"
        >
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>

<p-dialog
  [(visible)]="infoDialog"
  [baseZIndex]="10000"
  [modal]="true"
  header="Informacije o dejstveniku"
>
  <div *ngIf="infoDialog">
    <app-user-info
      [showButton]="false"
      [userId]="selectedUserId"
    ></app-user-info>
  </div>
</p-dialog>
