.example-spacer {
    flex: 1 1 auto;
}
:host {
    ::ng-deep {
        .p-card {
            width: 100%;
        }

        p-button {
            margin-right: 1rem;
        }

        .grid-nogutter {
            .col {
                padding: 1rem !important;
                max-width: 25rem !important;
            }
        }
    }
}

@media (max-width: 500px) {
    :host {
        ::ng-deep {
            .p-card {
                width: 100% !important;
                min-width: 20rem;
                padding: 0;
            }

            .grid-nogutter {
                .col {
                    padding: 0 !important;
                }
            }
        }
    }
}

.content {
    padding: 1.5rem;
}
