<p-toast></p-toast>
<app-spinner [visible]="!(allEvents$ | async)"></app-spinner>

<div style="margin-left: 20px">
  <h1>Eventi</h1>

  <!-- Open form button -->
  <p-button
    (click)="openDialog()"
    icon="pi pi-external-link"
    label="Kreiraj event"
  ></p-button>

  <h1 *ngIf="allEvents$ | async">penis</h1>
</div>

<!-- Dialog -->
<p-dialog header="Kreiraj event" [visible]="displayDialog">
  <form [formGroup]="formGroup">
    <h5>Naziv</h5>
    <input type="text" pInputText formControlName="name" />

    <h5>Opis</h5>
    <textarea pInputTextarea formControlName="description"></textarea>

    <h5>Link slike</h5>
    <input type="text" pInputText formControlName="picture" />

    <h5>Korisnik</h5>
    <p-multiSelect
      [options]="(users$ | async) || []"
      [showToggleAll]="false"
      formControlName="users"
      optionLabel="username"
      optionValue="id"
      [filter]="true"
      [itemSize]="34"
    >
      <ng-template let-user pTemplate="item">
        <div class="country-item">
          <div>{{ user.username }}</div>
        </div>
      </ng-template>
    </p-multiSelect>

    <h5>Početak</h5>
    <p-calendar formControlName="startTime" [showTime]="true"></p-calendar>

    <h5>Kraj</h5>
    <p-calendar formControlName="endTime" [showTime]="true"></p-calendar>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="!formGroup.valid"
      icon="pi pi-plus"
      (click)="postEvent()"
      label="Kreiraj"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- Grid -->
<div class="grid" *ngIf="allEvents$ | async as events">
  <div *ngFor="let event of events">
    <div class="col flex align-items-center justify-content-center m-3">
      <p-card
        header="{{ event.name }}"
        subheader="{{ event.date + ' u ' + event.startTime }}"
        [style]="{ width: '230px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header" style="width: 100%; height: 40%">
          <img alt="Card" src="{{ event.picture }}" />
        </ng-template>
        <div>
          <p>Opis:</p>
          {{ event.description }}
          <p>Vrijeme:</p>
          {{ event.startTime }} - {{ event.endTime }}
          <p>Pozvani su:</p>
          {{ event.users }}
        </div>
        <p-confirmDialog></p-confirmDialog>
        <ng-template pTemplate="footer">
          <p-button
            styleClass="p-button-danger"
            label="Obriši"
            icon="pi pi-trash"
            (click)="confirm(event.id)"
          >
          </p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
