<div>
  <h1>Eventi</h1>

  <!-- Open form button -->
  <p-button
    (click)="openDialog()"
    icon="pi pi-external-link"
    label="Kreiraj event"
  ></p-button>

  <p-button
    (click)="loadEvents()"
    icon="pi pi-sync"
    styleClass="p-button-secondary"
  ></p-button>
</div>

<!-- Dialog -->
<p-dialog
  (onHide)="formGroup.reset()"
  [(visible)]="displayDialog"
  [modal]="true"
  header="Kreiraj event"
>
  <form [formGroup]="formGroup">
    <h5>Naziv</h5>
    <input formControlName="name" pInputText type="text"/>

    <h5>Opis</h5>
    <textarea formControlName="description" pInputTextarea></textarea>

    <h5>Link slike</h5>
    <input formControlName="picture" pInputText type="text"/>

    <h5>Korisnik</h5>
    <p-multiSelect
      [appendTo]="'body'"
      [autofocusFilter]="true"
      [filter]="true"
      [itemSize]="34"
      [options]="(users$ | async) || []"
      [showToggleAll]="false"
      display="chip"
      formControlName="users"
      optionLabel="username"
      optionValue="id"
    >
      <ng-template let-user pTemplate="item">
        <div>
          <div>{{ user.username }}</div>
        </div>
      </ng-template>
    </p-multiSelect>

    <h5>Početak</h5>
    <p-calendar
      [appendTo]="'body'"
      [dateFormat]="'dd.mm.yy'"
      [minDate]="today"
      [readonlyInput]="true"
      [showTime]="true"
      [touchUI]="true"
      formControlName="startTime"
    ></p-calendar>

    <h5>Kraj</h5>
    <p-calendar
      [appendTo]="'body'"
      [dateFormat]="'dd.mm.yy'"
      [minDate]="today"
      [readonlyInput]="true"
      [showTime]="true"
      [touchUI]="true"
      formControlName="endTime"
    ></p-calendar>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      (click)="createEvent()"
      [disabled]="!formGroup.valid"
      icon="pi pi-plus"
      label="Kreiraj"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- Grid -->
<div *ngIf="allEvents$ | async as events" class="grid grid-nogutter">
  <div *ngFor="let event of events" class="col">
    <p-card
      header="{{ event.name }}"
      styleClass="p-card-shadow"
      subheader="{{ event.date + ' u ' + event.startTime }}"
    >
      <ng-template pTemplate="header" style="width: 100%; height: 40%">
        <img alt="Card" src="{{ event.picture }}"/>
      </ng-template>
      <div>
        <p>Opis:</p>
        {{ event.description }}
        <p>Vrijeme:</p>
        {{ event.startTime }} - {{ event.endTime }}
        <p>Pozvani su:</p>
        {{ event.users }}
      </div>

      <ng-template pTemplate="footer">
        <p-button
          (click)="deleteClick(event.id)"
          icon="pi pi-trash"
          label="Obriši"
          styleClass="p-button-danger"
        >
        </p-button>
        <p-button
          (click)="editEvent(event.id)"
          icon="pi pi-pencil"
          label="Uredi"
          styleClass="p-button-success"
        >
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>
