<div>
  <h2>Dodaj korisnika</h2>
  <h5>Email</h5>
  <input [(ngModel)]="email" pInputText type="text"/>
  <h5>Lozinka (6 znakova)</h5>
  <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
  <h5>Potvrdi lozinku</h5>
  <p-password [(ngModel)]="passwordValidation" [toggleMask]="true"></p-password>
  <h5>Ime</h5>
  <input [(ngModel)]="givenName" pInputText type="text"/>
  <h5>Prezime</h5>
  <input [(ngModel)]="familyName" pInputText type="text"/>
  <br/>
  <br/>
  <p-button
    (click)="signUp()"
    [disabled]="isValid()"
    label="Kreiraj korisnika"
    styleClass="p-button"
  >
  </p-button>
</div>
