p-button {
  margin: 1rem 1rem 0 0 !important;
}

.p-multiselect {
  min-width: 20rem;
  max-width: 20rem;
  width: 100%;
}

input,
textarea {
  width: 100%;
}

.p-calendar {
  width: 100%;
  display: flex;
  z-index: 0;
}
